{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="p-3 position-relative" style="border:2px solid; height:600px;" >
    {% if review.image %}
    <div class="position-absolute top-0 end-0 ">
        <img src="{{ review.image.url}}" width="600px;" height="400px;" alt="">
    </div>
    {% endif %}

<h1>{{ review.pk }}번 게시글</h1>
<p>작성자 : {{ review.user }}</p>
<p>제목 : {{ review.title }}</p>
<p>내용 : {{ review.content }}</p>
<p>영화 : {{ review.movie_name }}</p>
<p>작성시간 : {{ review.created_at }}</p>
<p>수정시간 : {{ review.updated_at }}</p>


<div class="d-flex justify-content-end position-absolute bottom-0 end-0 p-3">
    <a class='mx-3 btn btn-success' href="{% url 'reviews:update' review.pk %}">수정하기</a>
    <a class='btn btn-danger' href="{% url 'reviews:delete' review.pk %}">삭제하기</a>
</div>
</div>

{% comment %} 댓글 {% endcomment %}
<h4 class="my-5">댓글 <hr></h4>

{% if comments %}
<p class='text-muted float-end'>댓글 {{ comments.count }}개 </p>
{% endif %}

{% if request.user.is_authenticated %}
<form action="{% url 'reviews:comment_create' review.pk %}"  method='POST'>
    {% csrf_token %}
    <textarea class="form-control" name="content" rows="5"></textarea>
    <div class=' '>
        <input class='btn btn-primary' type="submit" value='작성'>
    </div>

</form>
<br>
{% endif %}
{% for comment in comments %}
{% if request.user == comment.user %}
<a href="{% url 'reviews:comment_delete' review.pk comment.pk %}" class='mt-3 btn btn-danger float-end'>삭제</a>
{% endif %}
  <div class=''>
    <p > {{ comment.user.username}}님 </p>
    <p>{{ comment.content }}</p>
  </div>
  <hr>
  <br>

  {%empty%}
  <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}
</div>

{% endblock %}